doctype
head
    title Sample Page
    meta(charset='utf-8')
    link(rel='stylesheet' href='css/main.css')
body
    .container
        h1 Simple Simple4783920447
        p Lorem ipsum4
    script(src='https://cdnjs.cloudflare.com/ajax/libs/synaptic/1.1.4/synaptic.js')
    script(src='../dist/js/all.js')